@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 233 21% 94%;
    --foreground: 238 52% 20%;
    --card: 0 0% 100%;
    --card-foreground: 238 52% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 238 52% 20%;
    --primary: 238 52% 37%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 233 21% 90%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 300 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 238 20% 85%;
    --input: 238 20% 88%;
    --ring: 238 52% 37%;
    --chart-1: 238 52% 37%;
    --chart-2: 300 100% 50%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 238 10% 10%;
    --foreground: 233 21% 90%;
    --card: 238 10% 15%;
    --card-foreground: 233 21% 90%;
    --popover: 238 10% 10%;
    --popover-foreground: 233 21% 90%;
    --primary: 238 60% 75%;
    --primary-foreground: 238 52% 15%;
    --secondary: 238 10% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 238 10% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 300 100% 65%;
    --accent-foreground: 238 10% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 238 10% 25%;
    --input: 238 10% 25%;
    --ring: 238 60% 75%;
    --chart-1: 238 60% 75%;
    --chart-2: 300 100% 65%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
